{% extends 'base.html.twig' %}

{% block title %}List all Notes{% endblock %}

{% block body %}
    <div class="card">
        <h5 class="card-header">{{ note.title }}</h5>
        <div class="card-body">
            <p class="card-text">{{ note.text }}</p>
        </div>
    </div>
{% endblock %}
