{% extends 'base.html.twig' %}

{% block title %}List all Notes{% endblock %}

{% block body %}
    <ul>
    {% for note in notes %}
        <li>
            <h4>
                <a href="{{ path('notelist_get', {'categoryId': note.category_id, 'noteId': note.id}) }}">
                    {{ note.title }}
                </a>
            </h4>
            <p>{{ note.text }}</p>
        </li>
    {% endfor %}
    </ul>
{% endblock %}
