{% extends 'base.html.twig' %}

{% block title %}List all Notes{% endblock %}

{% block body %}
    {% for note in notes %}
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">{{ note.title }}</h5>
                <p class="card-text">{{ note.text }}</p>
                <a href="{{ path('notelist_get', {'id': note.id}) }}" class="btn btn-primary">
                    Read
                </a>
            </div>
        </div>
    {% endfor %}
{% endblock %}
