{% extends 'base.html.twig' %}

{% block title %}Hello ActivityController!{% endblock %}

{% block body %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Created at</th>
            <th scope="col">Note name</th>
        </tr>
        </thead>
        <tbody>
            {% for item in data %}
            <tr>
                <td>{{ item.created_at }}</td>
                <td>{{ item.note_name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ include('pagination.html.twig') }}
{% endblock %}
